
# Your openai api key. (required)
OPENAI_API_KEY=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

# Access passsword, separated by comma. (optional)
CODE=kyle123

# You can start service behind a proxy
PROXY_URL=http://localhost:7890

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL= https://api.openai-proxy.com/v1/chat/completions

# Specify OpenAI organization ID.(optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to query balance, set this value to 1.
HIDE_BALANCE_QUERY=