.recharge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.recharge-title {
  font-size: 16px;
  color: #000;
  text-align: center;
}

.recharge-amount {
  display: flex;
  gap: 10px;
}

.recharge-amount-button {
  background-color: var(--white);
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recharge-amount-button.selected {
  border: 1px solid rgb(25, 156, 246);
}

.recharge-qrcode {
  margin-top: 20px;
}

.recharge-confirm-button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 2px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.recharge-confirm-button:hover {
  background-color: var(--primary);
}